<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic&subset=latin,latin-ext,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
<script src="{{ .Site.BaseURL }}/js/jquery.min.js" type="text/javascript"></script>
<script src="{{ .Site.BaseURL }}/js/jquery.timeago.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){
    $("time.timeago").timeago();
  })
  $("#menu").click(function(){
    $(".navbar ul li").removeClass("cate");
    $(".navbar").toggle();
  });
  $(window).resize(function(){
    if(window.innerWidth > 768) {
      $(".navbar").removeAttr("style");
    }
  });
</script>
{{ if .Site.Author.gaID }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ .Site.Author.gaID }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}
</div>
</body>
</html>
