<html lang="ru">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Description }}">
  <meta name="author" content="{{ .Site.Author.name }}">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" 
      type="image/png" 
      href="https://pecheny.me/img/newcat.png">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/fonts.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/normalize.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/skeleton.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/custom.css">
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
</head>
<body>
<div class="grand-wrapper">
