{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container post-wrapper">
  <div class="row">
  {{ if isset .Params "toc" }}<div id="toc" class="four columns">
    {{ .TableOfContents }}</div>
	<div class="eight columns">
	  <div id="post-title">
		<h5>{{ .Title }}</h5><p class="footnote" style="margin-top: -1.2em;">
		  <!--<time class="pull-right post-list">{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}</time>-->
		  <!-- <time class="">{{ $date := .Date.Format "2006-01-02" }}{{ if in $date "0001" }}{{ else }}последнее изменение {{ $date }}{{ end }}</time> -->
		  {{ $baseurl := .Site.BaseURL }}
		  {{ if or .Params.tags .Params.categories .Params.series }}
		  |
		  {{ end }}
		  {{ if isset .Params "tags" }}
		  tags: {{ range .Params.tags }}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
		  {{ end }}

		  {{ if isset .Params "categories" }}
		  categories: {{ range .Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
		  {{ end }}

		  {{ if isset .Params "series" }}
		  series: {{ range .Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}
		  {{ end }}

		</p>
	  </div>
	  <div class="post">
		{{ .Content }}
	  </div>
    </div>{{ end }}
  </div>
</div>

{{ partial "footer.html" . }}