{{ partial "header.html" . }}

<div class="container away">
  <div class="row">
    <div class="eight columns offset-by-two">{{ .Content }}</div>
  </div>
</div>

{{ partial "footer.html" . }}