/* Webfont: Lato-LightItalic */@font-face {
    font-family: 'Lato';
    src: url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-LightItalic.ttf') format('truetype'); 
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}



/* Webfont: Lato-Light */@font-face {
    font-family: 'Lato';
    src: url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Light.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}



/* Webfont: Lato-Semibold */@font-face {
    font-family: 'Lato';
    src: url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
         url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Semibold.ttf') format('truetype'); 
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}



/* Webfont: Lato-SemiboldItalic */@font-face {
    font-family: 'Lato';
    src: url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-SemiboldItalic.eot'); /* IE9 Compat Modes */
    src: url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
         url('//cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-SemiboldItalic.ttf') format('truetype'); 
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
