{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container post-wrapper">
  <div class="row">
	<div class="eight columns offset-by-two">
	  <div id="post-title">
		<p class="footnote">
		  <time>{{ .Date.Format "2006-01-02" }}</time>
		  {{ $baseurl := .Site.BaseURL }}
		  {{ if or .Params.tags .Params.categories .Params.series }}
		  |
		  {{ end }}
		  {{ if isset .Params "tags" }}
		  tags: {{ range .Params.tags }}<a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
		  {{ end }}

		  {{ if isset .Params "categories" }}
		  categories: {{ range .Params.categories }}<a href="{{ $baseurl }}/categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
		  {{ end }}

		  {{ if isset .Params "series" }}
		  series: {{ range .Params.series }}<a href="{{ $baseurl }}/series/{{ . | urlize }}">{{ . }}</a> {{ end }}
		  {{ end }}

		</p>
		<h1>{{ .Title }}</h1>
	  </div>
	  {{ if isset .Params "toc" }}<div id="toc" class="well col-md-4 col-sm-6">{{ .TableOfContents }}</div>{{ end }}
	  <div class="post">
		{{ .Content }}

{{ if .PrevInSection }}
<a href="{{.PrevInSection.Permalink}}" class="scaps">предыдущий сон</a>
{{ end }}{{ if .PrevInSection }}{{ if .NextInSection }} · {{ end }}{{ end }}
{{ if .NextInSection }}<a href="{{.NextInSection.Permalink}}" class="scaps">следующий сон</a>
{{ end }}
	  </div>
	</div>
  </div>
</div>

{{ partial "footer.html" . }}