<html lang="ru">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ if .IsPage }}{{ .Title }}{{else}}{{ if eq .URL "/blog/" }}Блог{{end}}{{ if eq .URL "/dreams/" }}Сны{{end}}{{ if eq .URL "/" }}ПЕЧЕНЫЙ{{end}}{{ end }}</title>
  <meta name="description" content="{{ .Title }}">
  <meta name="author" content="{{ .Site.Author.name }}">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" 
      type="image/png" 
      href="https://pecheny.me/img/newcat.png">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/fonts.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/normalize.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/skeleton.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/custom.css">
</head>
<body>
