{{ partial "header.html" . }}
{{ $relsub := substr .RelPermalink 0 4 }}
{{ if eq $relsub "/okx" }}
{{ partial "navbar_okx.html" . }}
{{ else }}
{{ partial "navbar.html" . }}
{{ end }}

<h1 id="title">{{ .Title }}</h1>
<p>{{ .Content }}</p>
<ul class="posts">
{{ $section := . }}
{{ if ne .Params.suppressList true }}
{{ range $name, $page := .Paginator.Pages }}
{{ if eq .Type $section.Type }}
<li>
    <h2><a href="{{ .Permalink }}">{{ $page.Title }}</a></h2>
    <p>{{ .Summary | plainify }}</p>
    <p class="footnote small-margin-top">
        {{ $page.Date.Format "2006-01-02" }}{{ if or $page.Params.tags $page.Params.categories $page.Params.series }},
        {{ end }}
    
        {{ with $page.Params.tags }}
        {{ range $page.Params.tags}}<a href="/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
        {{ end }}
    
        {{ with $page.Params.categories }}
        {{ range $page.Params.categories }}<a href="/categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
        {{ end }}
    
        {{ with $page.Params.series }}
        {{ range $page.Params.series }}<a href="/series/{{ . | urlize }}">{{ . }}</a> {{ end }}
        {{ end }}
    
        </p>
</li>
{{ end }}
{{ end }}
{{ end }}
</ul>
      {{ partial "pagination.html" . }}

{{ partial "footer.html" . }}
