<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Description }}">
  <meta name="author" content="{{ .Site.Params.Author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <link rel="preload" href="/fonts.css" as="style">
  <link rel="icon" type="image/png" href="/newcat.webp">
  <link rel="stylesheet" href="/fonts.css">
  <link rel="stylesheet" href="/custom.css">
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
</head>
<body>
<div id="main-wrapper">
<article>