<nav class="navbar">
	<ul>
		<li><a href="/" class="brand"><img src="/newcat.webp" class="iimg lower">&nbsp;главная</a></li><!--
	    --><li><a href="/okx/2018">2018</a></li><!--
	    --><li><a href="/okx/2017">2017</a></li><!--
	    --><li><a href="/okx/2016">2016</a></li><!--
	    --><li><a href="/okx/2015-2">2015-2</a></li><!--
	    --><li><a href="/okx/2015-1">2015-1</a></li><!--
	    --><li><a href="/okx/2014">2014</a></li>
	</ul>
</nav>
