<nav class="navbar">
	<ul>
		<li class="first"><a href="/" class="brand"><img src="/newcat.webp" class="iimg lower">&nbsp;главная</a></li><!--
		--><li><a href="/blog">блог</a></li><!--
		--><li><a href="/music">музыка</a></li><!--
		--><li><a href="/dreams">сны</a></li><!--
		--><li class="last"><a href="/friendsdreams">сны&nbsp;друзей</a></li>
	</ul>
</nav>
